* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding: 70px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note.new {
  background-color: #67d7cc;
  display: none;
}

.note.new.activeNote {
  display: flex;
  z-index: 1;
}

textarea {
  border: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}
.card-note {
  position: absolute;
  top: 100px;
  left: 190px;
  width: 200px;
}
button.addBtn {
  background: #000;
  color: #fff;
  padding: 14px 30px;
  border-radius: 50px;
  margin: 30px 20px 30px 0;
}
.sidebar {
  display: flex;
}

.sidebar .notesList {
  flex: 0 0 70%;
  position: relative;
  padding-right: 40px;
}
/* .notesList .OverlayContainer-container {
  position: fixed;
  left: 0;
  height: 100%;
  right: 0;
  z-index: 99;
} */
.notesList .css-gs5oe7-MuiButtonBase-root-MuiFab-root.Demo-addButton {
  position: relative;
  left: 0;
  right: 0;
  width: auto;
  border-radius: 10px;
  padding: 10px 20px;
  height: auto;
  background: #fef68a;
  color: #000;
  font-weight: bold;
  box-shadow: none;
  margin-bottom: 20px;
}
.notesList .MuiPaper-root {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: none;
}
.notesList .css-vr9er9-MuiModal-root-MuiDrawer-root.Overlay-root {
  position: fixed;
}
.sidebar .taskList {
  background-color: #fff;
  height: 100%;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  left: 950px;
  z-index: 9;
}

.tackListInpuArea input[type="text"] {
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  padding: 10px;
  max-width: 75%;
  margin-right: 20px;
}

.tackListInpuArea {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tackListInpuArea button {
  border: none;
  background-color: #fef68a;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  flex: 0 0 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: #000;
}
ul.tackListUl {
  list-style: none;
}
ul.tackListUl li.tackListTask:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-break: anywhere;
}

.dragable-header img {
  width: 20px;
}

.dragable-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.dragable-header .listMove {
  margin-right: 21px;
}

.dragable-header div {
  cursor: pointer;
}
