.main-body {
  padding: 50px;
}

.sidebar {
  display: flex;
  position: relative;
}

.App {
  margin: 50px;
}
#ex1 > .box,
#ex2 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

label {
  margin-right: 27px;
}

label.xy {
  margin-right: 5px;
}

.sidebar .notesList {
  flex: 0 0 450px;
  width: 450px;
  margin-right: 40px;
  min-width: 500px;
  position: absolute;
  top: 0;
}

.notesList .Overlay-paper.Overlay-fullSize {
  position: absolute;
  width: 60%;
  top: 50%;
  height: auto;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding: 40px;
  border-radius: 10px;
}

#notesListId .Cell-cell.MuiTableCell-body {
  height: auto;
}
#notesListId .Appointment-appointment {
  min-height: 21px;
}
/* package css */
.taskListWrap {
  flex-grow: 1;
}
.taskList .react-draggable {
  display: block !important;
  min-width: 280px;
  min-height: 150px;
  overflow: auto;
  overflow-x: hidden;
  background-color: #fff !important;
}
.notesList .react-draggable {
  display: block !important;
  background-color: #fff !important;
  min-width: 450px;
  min-height: 403px;
  overflow: auto;
  overflow-x: hidden;
}
.taskList .react-draggable li.tackListTask {
  padding: 0 20px;
}
ul.tackListUl li.tackListTask .ctm-checkbox-tasklist span {
  padding-left: 24px;
  cursor: pointer;
}
